<h1> Bookmark Manager </h1>
<form action='/bookmarks' method='post'>
  <label for='username'>Enter Username:</label>
  <input type='text' name='username'>
  <input type='submit' name='submit' value='Submit'>
</form>